# *************************************************************************
# **  Copyright (c) 2022 CentraleSupélec & EDF.
# **  All rights reserved. This program and the accompanying materials
# **  are made available under the terms of the Eclipse Public License v2.0
# **  which accompanies this distribution, and is available at
# **  https://www.eclipse.org/legal/epl-v20.html
# ** 
# **  This file is part of the RiseClipse tool
# **  
# **  Contributors:
# **      Computer Science Department, CentraleSupélec
# **      EDF R&D
# **  Contacts:
# **      dominique.marcadet@centralesupelec.fr
# **      aurelie.dehouck-neveu@edf.fr
# **  Web site:
# **      https://riseclipse.github.io
# *************************************************************************

name: Release on GitHub

# This CD workflow switch from pre-release to release on GitHub
# It aslo uploads artifacts without the rc

# on: workflow_call
on: push # TEMPORARY

jobs:
  call-validate-release-workflow:
    name: Validate Release
    uses: riseclipse/riseclipse-developer/.github/workflows/Shared-Verify-Tools.yml@workflows/validate-release
