# *************************************************************************
# **  Copyright (c) 2022 CentraleSupélec & EDF.
# **  All rights reserved. This program and the accompanying materials
# **  are made available under the terms of the Eclipse Public License v2.0
# **  which accompanies this distribution, and is available at
# **  https://www.eclipse.org/legal/epl-v20.html
# ** 
# **  This file is part of the RiseClipse tool
# **  
# **  Contributors:
# **      Computer Science Department, CentraleSupélec
# **      EDF R&D
# **  Contacts:
# **      dominique.marcadet@centralesupelec.fr
# **      aurelie.dehouck-neveu@edf.fr
# **  Web site:
# **      https://riseclipse.github.io
# *************************************************************************

name: Release on GitHub and DockerHub

# This CD workflow switches pre-release to release on GitHub (without rc flag)
# It also builds and push a docker image of the RiseClipse Validator SCL CLI tool

on: workflow_dispatch

jobs:
  call-validate-release-workflow:
    name: Validate Release
    uses: riseclipse/riseclipse-developer/.github/workflows/Shared-Validate-Release.yml@master

  call-release-dockerhub-workflow:
    name: Release on DockerHub
    needs: [call-validate-release-workflow]
    uses: riseclipse/riseclipse-developer/.github/workflows/Shared-Release-On-DockerHub.yml@master
    with:
      release_version: ${{ needs.call-validate-release-workflow.outputs.release_version }}  
      docker_repository: riseclipse-validator-scl
    secrets:
      DOCKER_USER: ${{ secrets.RISECLIPSE_DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.RISECLIPSE_DOCKER_ACCESS_TOKEN }}

  call-release-riseclipseweb-workflow:
    name: Release on riseclipseweb
    needs: [call-validate-release-workflow]
    uses: riseclipse/riseclipse-developer/.github/workflows/Shared-Deploy-On-RiseClipseWeb.yml@master
    with:
      artifact_path: riseclipse-validator-scl2003/fr.centralesupelec.edf.riseclipse.iec61850.scl.validator/target/RiseClipseValidatorSCL
      release_version: ${{ needs.call-validate-release-workflow.outputs.release_version }}
      dest_folder: "profiles/EDF-61850-Ed.2%fr.riseclipse.iec61850Ed_2%scl"
