# *************************************************************************
# **  Copyright (c) 2022 CentraleSupélec & EDF.
# **  All rights reserved. This program and the accompanying materials
# **  are made available under the terms of the Eclipse Public License v2.0
# **  which accompanies this distribution, and is available at
# **  https://www.eclipse.org/legal/epl-v20.html
# ** 
# **  This file is part of the RiseClipse tool
# **  
# **  Contributors:
# **      Computer Science Department, CentraleSupélec
# **      EDF R&D
# **  Contacts:
# **      dominique.marcadet@centralesupelec.fr
# **      aurelie.dehouck-neveu@edf.fr
# **  Web site:
# **      https://riseclipse.github.io
# *************************************************************************

name: Rollback if failure

# This CD workflow rollbacks the Pre-Release and Prepare next development version
# When a PR is closed (based on do_release) or if the prepare-next-dev workflow fails
# Proceeds to delete do_release branch, delete the pre-release and delete the tag

on: 
  workflow_dispatch:
  pull_request:
    types: [closed]
    branches:    
      - 'do_release'
  push: # TEMPORARY 

jobs:
  call-validate-release-workflow:
    if: github.event.pull_request.merged == false
    name: Validate Release
    uses: riseclipse/riseclipse-developer/.github/workflows/Shared-Rollback-If-Failure.yml@workflows/rollback-if-failure
